.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_theme_base {
  background-color: var(--color-background-base);
}

.container_theme_additional {
  background-color: var(--color-background-additional);
}

.container__content {
  display: flex;
  width: 1440px;
  flex-direction: column;
  margin: 0 auto;
}
