.signup-block {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  max-width: 315px;
}

.signup-block_login {
  margin-top: 20px;
}

.signup-block_recovery {
  margin-top: 32px;
}

.signup-block__link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-accent-base);
  text-decoration: none;
}

.signup-block__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #111C2C;
  margin: 0;
}
