.new-card-vertical {
  display: flex;
  flex-direction: column;
  width: 281px;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: var(--color-text-base);
  text-decoration: none;
  transition-duration: .7s;

  &:hover {
    opacity: .77;
  }
}
