.detalis-card__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition-duration: .5s;
}

.detalis-card__row:hover {
  opacity: .5;
}