.papers__head-block {
  width: 100%;
  padding: 24px 0;
}

@media (min-width: 768px) {
  .papers__head-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 40px 0;
  }
}

@media (min-width: 1440px) {
  .papers__head-block {
    padding: 44px 0;
  }
}

