.shelter-info__icon_image_classmates {
  background-image: url('../../../../../images/icons/footer__icon_classmates.svg');
}

.shelter-info__icon_image_vk {
  background-image: url('../../../../../images/icons/footer__icon_vk.svg');
}

.shelter-info__icon_image_telegram {
  background-image: url('../../../../../images/icons/footer__icon_telegram.svg');
}