.promo__photo {
  object-fit: cover;
  transition: transform 1s ease;

  &_position {
    &_left {
      width: calc(145px + (100vw - 320px) * .069);
      height: calc(218px + (100vw - 320px) * .105);
      border-radius: calc(16px + (100vw - 320px) * .027);

      @media (min-width: 768px) {
        width: calc(176px + (100vw - 768px) * .21);
        height: calc(265px + (100vw - 768px) * .314);
        border-radius: calc(28px + (100vw - 768px) * .018);
      }

      @media (min-width: 1440px) {
        width: 317px;
        height: 476px;
        border-radius: 40px;
      }
    }
    &_right {
      position: absolute;
      top: calc(40px + (100vw - 320px) * .018);
      left: calc(129px + (100vw - 320px) * .06);
      width: calc(119px + (100vw - 320px) * .058);
      height: calc(158px + (100vw - 320px) * .078);
      border-radius: calc(18px + (100vw - 320px) * .004);
      border: 2px solid var(--color-accent-base);
      box-sizing: border-box;
      z-index: 2;

      @media (min-width: 768px) {
        top: calc(48px + (100vw - 768px) * .057);
        left: calc(156px + (100vw - 768px) * .186);
        width: calc(145px + (100vw - 768px) * .171);
        height: calc(193px + (100vw - 768px) * .228);
        border-radius: calc(20px + (100vw - 768px) * .03);
        border-width: 4px;
      }

      @media (min-width: 1440px) {
        top: 86px;
        left: 281px;
        width: 260px;
        height: 346px;
        border-radius: 40px;
      }
    }
  }

  &_animation {
    &_to-left {
      transform: rotate(-6.69deg);
    }
    &_to-right {
      transform: rotate(7.92deg);
    }
  }
}
