.button {
  padding: 0 32px;
  font-size: 16px;
  line-height: 52px;
  font-weight: 600;
  color: var(--color-text-light);
  text-decoration: none;
  background-color: var(--color-accent-base);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 1s;
}

.button:hover {
  background-color: var(--color-accent-hover);
}

.button:disabled {
  background-color: var(--color-accent-disabled);
  cursor: default;
}

.button:disabled:hover {
  opacity: 1;
}