.shelters-on-main__text-container {
  display: flex;
  margin: 64px auto 0;
  padding: 44px 130.5px;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  transition: background-color .5s;
}
