.shelter-section {
  display: flex;
  max-width: 1440px;
  width: 100%;
  /* min-height: 625px; */
  padding: 0 44px 80px;
  flex-direction: column;
  background-color: var(--color-background-base);
  box-sizing: border-box;
  overflow: hidden;
}
