.cards-slider__button {
  width: 49px;
  height: 49px;
  margin: 0 9px 0 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../../../images/slider__button.svg');
  background-position: center;
  background-size: 41px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition-duration: 0.7s;

  &:hover {
    opacity: 0.77;
  }
}
