.arrow {
  width: 23px;
  height: 14px;
  z-index: -1;
  transition: transform .7s;
  cursor: pointer;
}

.arrow path {
  transition-duration: .3s;
  fill: var(--color-text-base);
}

.arrow:hover path {
  fill: var(--color-accent-hover);
}

.checkboxes-select__arrow:focus path {
  fill: var(--color-accent-pressed);
}

.arrow_rotate {
  transform: rotate(180deg);
}
