.banner__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 115px auto 32px 0;
  padding: 0;
  width: 550px;
  font-size: 64px;
  line-height: 78px;
  font-weight: 600;
  color: #111C2C;
  z-index: 2;
}