.shelter-card__address {
  margin: 0 0 8px;
  max-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  color: var(--color-text-additional);

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }
}
