.input__wrapper {
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.input__label {
  margin-bottom: 4px;
  max-width: 364px;
}

.input {
  width: calc(254px + (100vw - 320px) * .075);
  max-width: 338px;
  height: 18px;
  border: 1px solid var(--color-text-additional);
  border-radius: 8px;
  padding: 8px 16px;

  &:focus {
    outline: none;
  }
}

.input_valid {
  border-color: var(--color-verify-valid);
}

.input_invalid {
  border-color: var(--color-verify-invalid);
}

.input__span {
  color: var(--color-text-additional);
  margin-top: 4px;
  margin-bottom: 2px;
  min-height: 16px;
  max-width: 288px;
}

.input__error {
  color: var(--color-verify-invalid);
  margin-top: 4px;
  margin-bottom: 2px;
  min-height: 16px;
  max-width: 288px;
}

@media (min-width: 768px) {
  .input {
    height: 26px;
    border-radius: 5px;
    padding: 6px 12px;
  }
}

@media (min-width: 1440px) {
  .input__span {
    margin-top: 2px;
    min-height: 17px;
    max-width: 364px;
  }

  .input__error {
    margin-top: 2px;
    min-height: 17px;
    max-width: 364px;
  }
}