.orange-ball {
  width: 42px;
  height: 42px;
  background: var(--color-ball-orange);
  border-radius: 50%;
}

.orange-ball_profile {
  position: absolute;
  right: 192px;
  top: 116px;
}

.orange-ball_user {
  position: absolute;
  left: 198px;
  top: 77px;
}
