.footer__flex-column-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: max-content;

  @media (min-width: 768px) {
    flex-wrap: wrap;
    width: 355px;
    gap: 24px 52px;
    max-height: 114px;
  }
}
