.header__profile {
  width: 60px;
  height: 60px;
  margin: auto 0 auto auto;
  background-image: url('../../../images/profile.svg');
  background-position: center;
  background-size: cover;
}

.header__profile:hover {
  opacity: .5;
  transition-duration: 1s;
}