.add-shelter-form__photo-block {
  text-align: center;
  width: 148px;
  height: 148px;
  margin-bottom: 20px;
  border: 2px dashed var(--color-accent-base);
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.add-shelter-form__photo-block input[type="file"] {
  display: none;
}
