.user-form__container_register {
  width: calc(288px + (100vw - 320px) * .1);
  max-width: 401px;
}

.user-form__container_login {
  width: 364px;
  max-height: 412px;
}

.user-form__container_recovery {
  width: 382px;
  max-height: 337px;
}

.user-form__container_profile {
  width: 574px;
  min-height: 345px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form__container_sign-out {
  width: 504px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form__container_change-password {
  width: 427px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form_activate-user {
  align-items: center;
}

.user-form__container_activate-user {
  width: 474px;
  padding: 40px 32px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form__title {
  margin: 0 0 24px;
}

.user-form__title_edit-profile {
  margin-bottom: 8px;
}

.user-form__title_activate-user {
  display: none;
}

.user-form__title_change-password {
  margin-bottom: 12px;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__button-container {
  display: flex;
}

.user-form__button-container_register {
  flex-direction: column-reverse;
}

.user-form__button-container_login {
  flex-direction: column;
}

.user-form__button-submit {
  height: 52px;
  background-color: var(--color-accent-base);
  border-radius: 12px;
  border: none;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--color-text-light);
  padding: 0;
}

.user-form__button-submit_register {
  margin-top: 36px;
}

.user-form__button-submit_login {
  margin-top: 17px;

  &:hover {
    cursor: pointer;
    background-color: var(--color-accent-hover);
  }
}

@media (min-width: 768px) {
  .user-form__container {
    background-color: var(--color-background-additional);
    border-radius: 30px;
    padding: 36px 36px 40px;
  }
}

@media (min-width: 1440px) {

}
