.user-form__container {
  background-color: var(--color-background-additional);
  border-radius: 30px;
  padding: 36px 36px 40px;
}

.user-form__container_register {
  width: 402px;
}

.user-form__container_login {
  width: 364px;
  max-height: 412px;
}

.user-form__container_recovery {
  width: 382px;
  max-height: 337px;
}

.user-form__title {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--color-text-base);
  margin: 0 0 24px;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__button-container {
  display: flex;
}

.user-form__button-container_register {
  flex-direction: column-reverse;
}

.user-form__button-container_login {
  flex-direction: column;
}

.user-form__button-submit {
  height: 52px;
  background-color: var(--color-accent-base);
  border-radius: 12px;
  border: none;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--color-text-light);
  padding: 0;
}

.user-form__button-submit_register {
  width: 284px;
  margin-top: 36px;
}

.user-form__button-submit_login {
  width: 133px;
  margin-top: 17px;
}

.user-form__button-submit:hover {
  cursor: pointer;
  background-color: var(--color-accent-hover);;
}
