.user-form__container_register {
  width: calc(288px + (100vw - 320px) * .1);
  max-width: 401px;
}

.user-form__container_login {
  width: calc(288px + (100vw - 320px) * .067);
  max-width: 364px;
  max-height: 412px;
}

.user-form__container_recovery {
  width: 382px;
  max-height: 337px;
}

.user-form__container_profile {
  width: 574px;
  min-height: 345px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form__container_sign-out {
  width: 504px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form__container_change-password {
  width: 427px;
  padding: 40px 32px;
  margin-top: 44px;
}

.user-form_activate-user {
  align-items: center;
}

.user-form__container_activate-user {
  width: 474px;
  padding: 40px 32px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form__title {
  margin: 0 0 24px;
}

.user-form__title_edit-profile {
  margin-bottom: 8px;
}

.user-form__title_activate-user {
  display: none;
}

.user-form__title_change-password {
  margin-bottom: 12px;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form__button-submit_register {
  margin-top: 24px;
  margin-bottom: 20px;
}

.user-form__button-submit_login {
  margin-top: 16px;
}

@media (min-width: 750px) {
  .user-form__container {
    background-color: var(--color-background-additional);
    border-radius: 30px;
    padding: 40px 36px;
  }

  .user-form__button-submit_register {
    margin-top: 36px;
  }
}

@media (min-width: 1440px) {
  .user-form__button-submit_login {
    margin-top: 17px;
  }
}
