.paw {
  transition-duration: .5s;
  fill: var(--color-accent-base);
}

.paw:hover path:nth-child(1),
.paw:hover path:nth-child(3) {
  fill: var(--color-accent-hover);
}

.header__logo-link:focus path {
  fill: var(--color-accent-pressed);
}
