.link {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-accent-base);
  text-decoration: none;
  margin: 0;
}

.link__change-password {
  margin-bottom: 24px;
}
