.papers-grid__element {
  min-width: 288px;
  min-height: 192px;
  margin: 0;
  transition: border-color 0.5s;
  border-radius: 35px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .papers-grid__element {
    min-width: 205px;
    min-height: 263px;
  }
}

@media (min-width: 1440px) {
  .papers-grid__element {
    min-width: 400px;
    min-height: 416px;
    padding: 8px 8px 24px;
    border: 2px solid rgba(0, 0, 0, 0);
  }
}

.papers-grid__element:hover {
  border-color: var(--color-accent-base);
}
