.button {
  padding: 16px 32px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-family: 'Montserrat Alternates', 'Inter', Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: .7s;
  display: inline-block;
  width: fit-content;
  box-sizing: border-box;
}

.button__accent {
  color: var(--color-text-light);
  background-color: var(--color-accent-base);
}

.button__accent:hover {
  background-color: var(--color-accent-hover);
}

.button__accent:focus {
  background-color: var(--color-accent-pressed);
}

.button__accent:disabled {
  background-color: var(--color-accent-disabled);
  cursor: default;
}

.button_disabled {
  background-color: var(--color-accent-disabled);
}

.button_disabled:hover {
  background-color: var(--color-accent-disabled);
}

.button_disabled:focus {
  background-color: var(--color-accent-disabled);
}

.button__transparent {
  color: var(--color-accent-base);
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--color-accent-base);
}

.button__transparent:hover {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.button__transparent:focus {
  color: var(--color-accent-pressed);
  border-color: var(--color-accent-pressed);
}
