.shelter-pets {
  font-family: 'Montserrat Alternates';
  max-width: 1440px;
  width: 100%;
  padding: 0 44px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  section {
    padding: 0;
  }
}

.shelter-pets__back-profile-button {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 44px 0;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;


  span {
    margin-left: 16px;
    color: var(--color-accent-base);
  }
}