.burger-popup__container {
  width: 201px;
  height: 200px;
  top: 57px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px 24px;
  background-color: var(--color-background-additional);
  box-shadow: 4px 4px 17px var(--color-shadow-base);
  border-radius: 16px;
  box-sizing: border-box;
  z-index: 2;
  gap: 16px;

  @media (min-width: 768px) {
    top: 106px;
  }
}
