.profile-shelters__shelters {
  display: flex;
  flex-direction: column;
}

.profile-shelters__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.profile-shelters__container:last-of-type {
  margin-bottom: 0;
}

.profile-shelters__title {
  margin-top: 0;
  margin-bottom: 28px;
}

.profile-shelters__shelters-container {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-top: 0;
  margin-bottom: 28px;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}