.paper {
  width: 100%;
  padding: 24px 16px 40px;
  background-color: var(--color-background-base);
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 45px 44px 120px;
  }

  @media (min-width: 1440px) {
    padding: 44px 132px 154px;
  }
}
