.paper-card__text {
  width: 100%;
  margin: 12px 0 0;
  max-width: 288px;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-family: var(--font-family-title);
  color: var(--color-text-base);
}
