.paper-card__image {
  width: 100%;
  max-width: 288px;
  height: 192px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .paper-card__image {
    min-width: 211px;
    height: 141px;
  }
}

@media (min-width: 1440px) {
  .paper-card__image {
    max-width: 376px;
    height: 252px;
  }
}
