.register {
  min-width: 320px;
}

.register__privacy {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  width: calc(288px + (100vw - 320px) * .1);
  max-width: 401px;
  position: relative;
}

.checkbox__container > .checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__container > .checkbox {
  display: inline-flex;
  align-items: center;
}

.checkbox__container > .checkbox::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-text-base);
  border-radius: 2px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__container > .checkbox__input:checked + .checkbox::before {
  background-image: url('../../images/register__daw.svg');
  background-size: 100%;
}

.checkbox:hover {
  cursor: pointer;
}

.register__text {
  color: var(--color-text-base);
  margin: 0;
  max-width: 370px;
}

.register__link {
  color: var(--color-accent-base);
  text-decoration: none;
}

@media (min-width: 768px) {
  .register {
    min-width: 768px;
  }

  .checkbox__container > .checkbox::before {
    height: 20px;
    width: 20px;
  }
}