.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1440px;
  font-family: var(--font-family-base);
  color: var(--color-text-base);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
