.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: var(--font-family-base);
  color: var(--color-text-base);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_background {
  background-color: var(--color-background-base);
  background-size: 100%;
}
