.shelter-card__link {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-decoration: none;
  color: #F0924F;
  text-align: right;
  cursor: pointer;
}

.shelter-card__link:hover {
  opacity: .77;
  transition-duration: 1s;
}