.violet-ball {
  width: calc(29px + (100vw - 320px) * .01);
  max-width: 42px;
  height: calc(29px + (100vw - 320px) * .01);
  max-height: 42px;
  background: var(--color-ball-violet);
  border-radius: 50%;
  position: absolute;

  &_profile {
    right: 408px;
    top: 343px;
  }

  &_user {
    right: calc(84px - (100vw - 768px) * .096);
    bottom: calc((100vw - 768px) * .023);

    @media (min-width: 1440px) {
      right: 19px;
      bottom: 16px;
    }
  }
}