.violet-ball {
  width: 42px;
  height: 42px;
  background: var(--color-ball-violet);
  border-radius: 50%;
}

.violet-ball_profile {
  position: absolute;
  right: 408px;
  top: 343px;
}

.violet-ball_user {
  position: absolute;
  left: 695px;
  top: 565px;
}
