.my-shelter-section {
  display: flex;
  max-width: 1440px;
  width: 100%;
  min-height: 625px;
  flex-direction: column;
  background-color: var(--color-background-base);
  box-sizing: border-box;
  overflow: hidden;

  &__back-profile-button {
    font-family: Montserrat Alternates, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 44px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    span {
      margin-left: 16px;
      color: var(--color-accent-base);
    }
  }
}
