.input__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-base);
  margin-bottom: 4px;
}

.password__container {
  width: 364px;
  height: 40px;
  padding: 0;
  position: relative;
}

.password__input {
  font-family: var(--font-family-password);
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 28px;
  width: 338px;
  height: 26px;
  border-radius: 5px;
  padding: 6px 12px;
  border: 1px solid var(--color-text-additional);
}

.password__input_opened {
  letter-spacing: normal;
}

.password__input::-ms-reveal {
  display: none;
}

.password__input_valid {
  border: 1px solid var(--color-verify-valid);
}

.password__input_invalid {
  border: 1px solid var(--color-verify-invalid);
}

.password__input:focus {
  outline: none;
}

.password-visibility {
  background-image: url("../../images/password__visibility_closed.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.password-visibility_opened {
  background-image: url("../../images/password__visibility_opened.svg");
}

.password-visibility:hover {
  cursor: pointer;
}

.input__span {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 2px;
}
