.input__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-base);
  margin-bottom: 4px;
}

.password__input {
  width: 340px;
  height: 28px;
  border-radius: 5px;
  padding: 6px 12px;
  border: none;
}

.password__input:focus {
  outline: none;
}

.password__container {
  width: 364px;
  height: 40px;
  border: 1px solid var(--color-text-additional);
  border-radius: 5px;
  padding: 0;
  position: relative;
}

.password-visibility {
  background-image: url("../../images/password__visibility.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.password-visibility:hover {
  cursor: pointer;
}

.input__span {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-text-additional);
  margin-top: 2px;
}
