$images-path: '../../images';

.input__label {
  margin-bottom: 4px;
}

.password__container {
  width: calc(286px + (100vw - 320px) * .0678);
  max-width: 362px;
  padding: 0;
  border: 1px solid var(--color-text-additional);
  border-radius: 8px;
  background-color: var(--color-background-additional);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_invalid {
    border: 1px solid var(--color-verify-invalid);
  }

  &_valid {
    border: 1px solid var(--color-verify-valid);
  }

  @media (min-width: 768px) {
    border-radius: 5px;
    height: 38px;
  }
}

.password__input {
  font-family: var(--font-family-password);
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
  width: calc(208px + (100vw - 320px) * .075);
  max-width: 292px;
  height: 18px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 28px;
  border: none;

  &:focus {
    outline: none;
  }

  &::-ms-reveal {
    display: none;
  }

  &_opened {
    letter-spacing: normal;
  }

  @media (min-width: 768px) {
      height: 26px;
      padding-left: 12px;
      padding-top: 6px;
    padding-bottom: 6px;
  }
}

.password-visibility {
  background-image: url('#{$images-path}/password__visibility_closed.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  margin-right: 16px;

  &:hover {
    cursor: pointer;
  }

  &_opened {
    background-image: url('#{$images-path}/password__visibility_opened.svg');
  }

  @media (min-width: 768px) {
      margin-right: 14px;
  }

  @media (min-width: 1440px) {
      margin-right: 12px;
  }
}
