$images-path: '../../../../images';

.vacancy-form {
  margin-top: 36px;
  width: 576px;

  &__container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  &__edit {
    display: flex;
    gap: 12px;
    margin-bottom: 36px;

    &-btn {
      background-image: url('#{$images-path}/icons/ic_button_close_editForm.svg');
      background-size: contain;
      border: none;
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0);
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
}

.shelter-form__submit-buttons {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.vacancy-form__description {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 16px 10.5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--color-background-additional);
  border: 1px solid var(--color-text-additional);
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;

  &_invalid {
    border-color: var(--color-verify-invalid);
  }
}

.vacancy-form__desctioption-title {
  margin-bottom: 10px;
}

.btn-edit {
  display: flex;
  gap: 76px;

  &__buttons {
    font-size: 16px;
  }
}
