.details-card__icon {
  width: 32px;
  height: 32px;
}

.details-card__icon line {
  transition-duration: .5s;
}

.details-card__details:hover line {
  stroke: var(--color-accent-hover);
}

.details-card__row:focus line {
  stroke: var(--color-accent-pressed);
}

.details-card__details[open] #svg-vertical {
  stroke: #fff;
}