.section-title {
  margin: 64px auto 44px 0;
  padding: 0;
  width: 100%;
  font-size: 40px;
  line-height: 49px;
  font-weight: 600;
  font-family: 'Montserrat Alternates', 'Inter', Arial, sans-serif;
}
