.main-page-section {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding:
    calc(36px - (100vw - 320px) * .009)
    calc(16px + (100vw - 320px) * .063)
    calc(40px - (100vw - 320px) * .009)
  ;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding:
      calc(32px + (100vw - 768px) * .048)
      calc(44px + (100vw - 768px) * .131)
      calc(36px + (100vw - 768px) * .042)
    ;
  }

  @media (min-width: 1440px) {
    padding: 64px 132px;
  }
}

.main-page-section-title {
  width: 100%;
  margin: 0 auto 32px 0;

  @media (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 44px;
  }
}
