.section {
  display: flex;
  position: relative;
  width: 320px;
  padding: 36px 16px 40px;
  flex-direction: column;
  box-sizing: border-box;
}

.section-title {
  margin: 64px auto 44px 0;
  padding: 0;
  width: 100%;
  font-size: 40px;
  line-height: 49px;
  font-weight: 600;
  font-family: var(--font-family-title);
}

@media (min-width: 768px) {
  .section {
    width: 768px;
    padding: 80px 44px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1440px;
    padding: 64px 132px;
  }
}
