.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-form__input {
  width: 476px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 12px;
  background: var(--color-text-light);
  border: var(--color-text-base) solid 1px;
  padding: 12px 20px;
  margin: 0 12px 0 0;
}
