.turquoise-ball {
  width: 49px;
  height: 49px;
  background: var(--color-turquoise-ball);
  border-radius: 50%;
}

.turquoise-ball_profile {
  position: absolute;
  right: 507px;
  top: 58px;
}

.turquoise-ball_user {
  position: fixed;
  left: 707px;
  top: 158px;
}
