.profile {
  width: 100%;
  max-width: 1440px;
  min-height: 674px;
  background-color: var(--color-background-base);
}

.profile__title {
  font-family: var(--font-family-title);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--color-text-base);
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.profile__subtitle {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-text-base);
  margin-top: 0;
  margin-bottom: 28px;
}

.profile__shelters {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}
