.profile {
  width: 1440px;
  max-width: 1440px;
  min-height: 674px;
  background-color: var(--color-background-base);
}

.profile__title {
  font-family: var(--font-family-title);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--color-text-base);
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
