.profile {
  width: 1440px;
  max-width: 1440px;
  min-height: 674px;
  background-color: var(--color-background-base);
}

.profile__title {
  font-family: var(--font-family-title);
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--color-text-base);
  margin-top: 0;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.profile__donat {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.profile__donat-text {
  margin-right: 16px;
}

.profile__donut-sum {
  border-width: 0 2px;
  border-style: solid;
  border-color: #FF852E;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 52px;
  max-width: 82px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FF852E;
  text-align: center;
  margin: 0;
}

.profile__donat-rubles {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FF852E;
}
