.details-card__title {
  width: 890px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
}

.details-card__title_style_faq {
  font-weight: 500;
  font-family: var(--font-family-title);
}

.details-card__title_style_shelter-pets {
  font-weight: 400;
}
