.faq {
  display: flex;
  flex-direction: column;
  padding: 0 262px 80px 126px;
  background-color: var(--color-background-base);
  box-sizing: border-box;
}

.faq__list {
  display: flex;
  flex-direction: column;
  width: 1052px;
  margin: 0;
  padding: 0;
  row-gap: 24px;
  list-style-type: none;
}

.faq__text {
  width: 100%;
  margin: -4px 0 0;
  padding: 0 240px 24px 45px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color-text-additional);
  background-color: var(--color-background-additional);
  box-sizing: border-box;
}
