.faq {
  display: flex;
  padding: 64px 308px 120px 132px;
  flex-direction: column;
  background-color: var(--color-background-base);
  box-sizing: border-box;
}

.section-title {
  margin-bottom: 44px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 24px;
  list-style-type: none;
}

.faq__text {
  width: 100%;
  margin: -4px 0 0;
  margin-top: 16px;
  padding: 0 240px 0 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color-text-additional);
  background-color: var(--color-background-additional);
  box-sizing: border-box;
}

.faq__item {
  width: 1000px;
  box-sizing: border-box;
  margin: 0 auto 0 0;
  border-radius: 20px;
  overflow: hidden;
  padding: 24px 24px 24px 45px;
  background-color: var(--color-background-additional);
}

.faq__title {
  font-weight: 500;
}
