.shelter-search__link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-family-title);
  color: var(--color-accent-base);
  text-decoration: none;
  cursor: pointer;
  transition-duration: .5s;
}

.shelter-search__link:hover {
  color: var(--color-accent-hover);
}

.shelter-search__link:focus {
  color: var(--color-accent-pressed);
}
