.footer {
  width: 100%;
  display: flex;
  padding: 36px 16px 40px;
  flex-direction: column;
  background-color: var(--color-background-additional);
  color: var(--color-text-base);
  font-family: var(--font-family-title);
  box-sizing: border-box;
  gap: 32px;

  @media (min-width: 650px) {
    padding: 40px 44px 80px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  @media (min-width: 1440px) {
    padding: 62px 132px;
  }
}
