.footer {
  width: 1440px;
  display: flex;
  padding: 62px 132px;
  justify-content: space-between;
  background-color: var(--color-background-additional);
  color: var(--color-text-base);
  font-family: var(--font-family-title);
  box-sizing: border-box;
}
