.promo__photo-container {
  position: relative;
  height: calc(218px + (100vw - 320px) * .105);
  margin: 0 auto 32px;
  padding-right: 103px;

  @media (min-width: 768px) {
    width: 46%;
    height: calc(265px + (100vw - 768px) * .314);
    margin:
      calc(36px - (100vw - 768px) * .028)
      0
      calc(0px + (100vw - 768px) * .025)
      calc(0px + (100vw - 768px) * .04)
    ;
    padding-right: 0;
  }

  @media (min-width: 1440px) {
    height: 476px;
    margin: 17px 0 17px 27px;
  }
}
