.papers {
  width: 100%;
  padding: 0 16px 32px;
  background-color: var(--color-background-base);
  box-sizing: border-box;
  align-items: center;
}

@media (min-width: 768px) {
  .papers {
    padding: 0 44px 40px;
  }
}

@media (min-width: 1440px) {
  .papers {
    padding: 0 132px 80px;
  }
}
