.papers-on-main {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 64px 132px;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-background-additional);
}