.caret {
  width: 24px;
  height: 24px;
  transition: transform 0.7s;
}

.caret path {
  transition-duration: 0.3s;
  fill: var(--color-text-base);
}

.details-card:hover .caret path {
  fill: var(--color-accent-hover);
}

.details-card__summary:focus .caret path {
  fill: var(--color-accent-pressed);
}

.details-card[open] .caret {
  transform: rotate(180deg);
}
