.arrow-rotate {
  width: 24px;
  height: 24px;
  transition: transform 0.7s;
}

.arrow-rotate path {
  transition-duration: 0.3s;
  fill: var(--color-text-base);
}

.details-card:hover .arrow-rotate path {
  fill: var(--color-accent-hover);
}

.details-card__summary:focus .arrow-rotate path {
  fill: var(--color-accent-pressed);
}

.details-card[open] .arrow-rotate {
  transform: rotate(180deg);
}
