:root {
  --color-background-base: #fef4e8;
  --color-background-additional: #fff;
  --color-text-base: #111c2c;
  --color-text-additional: #818181;
  --color-text-light: #fff;
  --color-accent-base: #f0924f;
  --color-accent-hover: rgba(240, 146, 79, .77); /* #f0924f */
  --color-accent-pressed: #ff852e;
  --color-accent-disabled: #ffe2cd;
  --color-verify-valid: #3ED872;
  --color-verify-invalid: #D83E3E;
  --color-shadow-base: rgba(23, 23, 23, .12); /* #171717 */
}
