.menu__sign {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-family-title);
  color: var(--color-accent-base);
  transition-duration: 0.5s;

  &:hover {
    color: var(--color-accent-hover);
    border-color: var(--color-accent-hover);
  }

  &:focus {
    color: var(--color-accent-pressed);
    border-color: var(--color-accent-pressed);
  }

  @media (min-width: 1200px) {
    &_in {
      margin-right: 32px;
    }
  }

  &_up {
    padding: 15px 31px;
    border: 1px solid var(--color-accent-base);
    border-radius: 12px;
  }
}
