.shelter-news {
  padding: 0 132px 80px;
}

.shelter-news__title {
  margin-bottom: 32px;
}

.shelter-section-top {
  display: flex;
}

.shelter-section__btn-news {
  padding: 12px 26px;
  font-size: 16px;
  min-width: 250px;
  height: 44px;
}

.shelter-section__btn-more {
  display: flex;
  padding: 12px 26px;
  margin: auto;
  margin-top: 40px;
  font-size: 16px;
}