.papers__grid-element {
  min-width: 400px;
  min-height: 416px;
  margin: 0;
  padding: 8px 8px 24px;
  transition: border-color .5s;
  border-radius: 35px;
  border: 2px solid var(--color-background-base);
  box-sizing: border-box;
}

.papers__grid-element:hover {
  border-color: var(--color-accent-base);
}