.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 0 0 168px 132px;
  background-color: var(--color-background-base);
  box-sizing: border-box;
  font-family: var(--font-family-title);
}
