.social-media-icons__container {
  display: flex;
  align-items: center;
  column-gap: 12px;

  @media (min-width: 768px) {
    column-gap: 24px;
  }
  @media (min-width: 1440px) {
    align-items: flex-start;
  }
}
