@import url('./styles/about-shelter/__description/about-shelter__description.css');
@import url('./styles/about-shelter/__title-container/about-shelter__title-container.scss');
@import url('./styles/about-shelter/__description-title-container/about-shelter__description-title-container.scss');
@import url('./styles/about-shelter/__icon-button/about-shelter__icon-button.scss');
@import url('./styles/about-shelter/__metrics-dotantion/about-shelter__metrics-dotantion.scss');
@import url('./styles/about-shelter/__metrics-donation-sum/about-shelter__metrics-donation-sum.scss');

@import url('./styles/shelter-info/shelter-info.css');
@import url('./styles/shelter-info/__logo/shelter-info__logo.css');
@import url('./styles/shelter-info/__text-container/shelter-info__text-container.css');
@import url('./styles/shelter-info/__list/shelter-info__list.css');
@import url('./styles/shelter-info/__link/shelter-info__link.css');
@import url('./styles/shelter-info/__icons/shelter-info__icons.css');
@import url('./styles/shelter-info/__icon/shelter-info__icon.css');

.shelter-section__about {
  display: flex;
  gap: 44px;
}

.shelter-section__bottom {
  display: flex;
  gap: 16px;
  flex-direction: column;
}