.menu__sign-up {
  margin: 0;
  padding: 15px 31px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-family-title);
  color: var(--color-accent-base);
  border: 1px solid var(--color-accent-base);
  border-radius: 12px;
  transition-duration: .7s;
}

.menu__sign-up:hover {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.menu__sign-up:focus {
  color: var(--color-accent-pressed);
  border-color: var(--color-accent-pressed);
}