.change-password {
  width: 100%;
  max-width: 1440px;
}

.change-password__text {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-additional);
  margin-bottom: 20px;
  margin-top: 0;
}

.change-password__text:last-of-type {
  margin-bottom: 24px;
}
