.about-shelter__description {
  width: 821px;
  margin-top: 20px;
  padding: 0;
}

.about-shelter__description_user {
  width: 821px;
  margin-bottom: 44px;
}

.about-shelter__description_owner {
  width: 821px;
  margin-bottom: 32px;
}