.shelter-pets {
  padding: 0 132px 80px;
}

.shelter-pets__list {
  display: flex;
  width: 100%;
  margin: 32px 0 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 32px;
  list-style-type: none;
}

.shelter-pets__pets-item {
  margin: 0;
  padding: 0;
}
