.papers__grid-element {
  min-width: 372px;
  margin: 0;
  padding: 12px 12px 24px;
  transition: border-color .5s;
  border-radius: 35px;
  border: 2px solid var(--color-background-base);
}

.papers__grid-element:hover {
  border-color: var(--color-accent-base);
}