.user-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--color-background-base);
  padding-left: 134px;
  padding-top: 62px;
  padding-bottom: 147px;
  position: relative;
}

.user-container_register {
  padding-right: 132px;
}

.user-container_login {
  padding-right: 169px;
}

.user-container_recovery {
  padding-right: 151px;
}

.user-container__image {
  width: 561px;
  height: 561px;
  margin-right: 140px;
  position: absolute;
  left: 134px;
  top: 62px;
}

