.user-container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-background-base);
  padding-left: 134px;
  padding-top: 62px;
  padding-bottom: 147px;
}

.user-container_register {
  padding-right: 132px;
}

.user-container_login {
  padding-right: 169px;
}

.user-container__image {
  height: 561px;
  width: 623px;
  margin-right: 79px;
}

