.promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 132px 81px 159px;
  box-sizing: border-box;
  background-color: var(--color-background-additional);
  font-family: var(--font-family-title);
}
