.shelter-same-pets__link {
  margin: 0 0 8px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-accent-base);
  cursor: pointer;
  transition-duration: .5s;

  &:hover {
    color: var(--color-accent-hover);
  }
  &:focus {
    color: var(--color-accent-pressed);
  }
}

.shelter-same-pets__list {
  display: flex;
  width: 100%;
  margin: 36px 0 40px;
  padding: 0;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.shelter-same-pets__pets-item {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(150,150,150,1));
  border-radius: 30px;
}

.shelter-same-pets__button {
  margin: 0 auto;
}
