.menu__profile {
  width: 60px;
  height: 60px;
  margin: 2px 0;
  background-image: url('../../../../images/profile.svg');
  background-position: center;
  background-size: cover;
  transition-duration: .7s;
}

.menu__profile:hover {
  opacity: .77;
}