.shelter-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 255px;
  padding-bottom: 23px;
  background-color: var(--color-background-additional);
  border: 1px solid var(--color-accent-base);
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--color-text-base);
  text-decoration: none;
  transition-duration: 1.5s;
  box-sizing: border-box;
}

.shelter-card:hover {
  transform: scale(1.12);
  border-color: var(--color-accent-hover);
}

.shelter-card:focus {
  border-color: var(--color-accent-pressed);
}
