.shelters-on-main__text-container {
  display: flex;
  flex-direction: column;
  width: 824px;
  margin: 80px auto 0;
  padding: 44px 130px;
  background-color: var(--color-background-additional);
  border-radius: 40px;
}