.display_none {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  min-height: 88px;
  padding: 14px 132px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-additional);
  box-sizing: border-box;
  position: relative;
}

.header__logo-link {
  margin: 0;
  padding: 0;
}

.header__logo {
  width: 40px;
  height: 35px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_items_links {
  column-gap: 40px;
}

.menu__link {
  margin: auto 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-base);
  transition: color .5s;
  cursor: pointer;
}

.menu__link:hover {
  color: var(--color-accent-base);
}

.menu__link:focus {
  color: var(--color-accent-pressed);
}

.menu__link_active {
  color: var(--color-accent-base);
}

.menu__link_active:hover {
  color: var(--color-accent-base);
}

.menu__sign {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-family-title);
  color: var(--color-accent-base);
  transition-duration: .5s;
}

.menu__sign:hover {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.menu__sign:focus {
  color: var(--color-accent-pressed);
  border-color: var(--color-accent-pressed);
}

.menu__sign_in {
  margin-right: 32px;
}

.menu__sign_up {
  padding: 15px 31px;
  border: 1px solid var(--color-accent-base);
  border-radius: 12px;
}

.menu__profile {
  width: 60px;
  height: 60px;
  margin: auto 0;
  background-image: url('../../images/profile.svg');
  background-position: center;
  background-size: cover;
  transition-duration: .5s;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu__profile:hover {
  opacity: .77;
}
