.add-shelter-form__textarea {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 16px 10.5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--color-background-additional);
  border: 1px solid var(--color-text-additional);
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;
}
