.new-big-card-vertical {
  width: 576px;
  min-height: 458px;
  position: relative;
  margin: 0;
  border-radius: 44px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
  transition-duration: .7s;

  &:hover {
    opacity: .77;
  }
}
