.header {
  display: flex;
  width: 100%;
  min-height: 56px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-additional);
  box-sizing: border-box;
  position: relative;

  @media (min-width: 768px) {
    padding: 28px 44px;
    min-height: 97px;
  }

  @media (min-width: 1440px) {
    padding: 18px 132px;
    min-height: 88px;
  }
}
