.add-shelter-form__time-input {
  width: 77px;
  margin: 0;
  padding: 10.5px 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--color-background-additional);
  border: 1px solid var(--color-text-additional);
  border-radius: 8px;
  box-sizing: border-box;

  &_invalid {
    border-color: var(--color-verify-invalid);
  }
}

.add-shelter-form__time-inpu::placeholder {
  color: var(--color-text-additional);
}
