@import url('./vendor/normalize.css');
/* normalize.css - файл, при помощи которого браузеры начинают отображать все элементы более последовательно и в соответствии с современными стандартами*/
@import url('./vendor/fonts.css');
/* fonts.css - файл со шрифтами */
@import url('./utils/vars.css');
/* vars.css - файл со css-переменными */