.profile-popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 963px;
  top: 88px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  z-index: 3;

  &_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }
}

.profile-popup__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 281px;
  height: fit-content;
  background: var(--color-background-additional);
  box-shadow: 4px 4px 17px rgba(23, 23, 23, 0.12);
  border-radius: 30px;
  overflow-wrap: break-word;
  padding: 20px 24px;
  position: relative;
}

.profile-popup__name {
  font-family: var(--font-family-title);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-text-base);
  text-decoration: none;
  margin: 0;
  width: fit-content;
}

.profile-popup__email {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-additional);
  margin-top: 8px;
  margin-bottom: 20px;
  width: fit-content;
}

.profile-popup__link {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-base);
  text-decoration: none;
  margin-bottom: 16px;
  width: fit-content;
}

.profile-popup__button {
  padding: 12px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-family-title);
  color: var(--color-text-light);
  text-decoration: none;
  text-align: center;
  background-color: var(--color-accent-base);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: .7s;
  display: inline-block;
  width: fit-content;
}

.profile-popup__button-close {
  background-image: url('../../images/icons/ic_button_close.svg');
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 19px;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
