.menu__sign-up {
  margin: 0;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-accent-base);
  border: 1px solid var(--color-accent-base);
  border-radius: 12px;
}

.menu__sign-up:hover {
  color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
  transition-duration: 1s;
}