.shelter-pets__summary-icon {
  width: 37px;
  height: 22px;
  background-image: url('../../../../images/pets__summary-icon.svg');
  background-size: 37px 22px;
  background-position: center;
  box-sizing: border-box;
  transition: transform .7s;
}

.shelter-pets__detalis[open] .shelter-pets__summary-icon {
  transform: rotate(180deg);
}