.paper__text {
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color-text-base);
}

.paper__text:last-of-type {
  margin-bottom: 44px;
}