.pet-module {
  display: flex;
  width: 1440px;

  &__pet-part {
    display: flex;
    width: 847px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
  }

  &__info-container {
    display: flex;
    width: 368px;
    flex-direction: column;
  }

  &__info-list {
    display: flex;
    width: 100%;
    margin: 32px 0 55px;
    padding: 0;
    flex-direction: column;
    row-gap: 16px;
  }

  &__additional-shelter-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__description-container {
    display: flex;
    width: 100;
    flex-direction: column;
    row-gap: 20px;
  }

  &__button-wrapper {
    position: relative;
  }

  &__tooltip-container {
    top: -105px;
    left: 220px;
  }

  &__tooltip-inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}