.table {
  border-collapse: collapse;
  width: 920px;

  &__cell {
    border: 0.5px solid var(--color-text-base);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__cell:nth-child(odd) {
    width: 170px;
    padding-left: 20px;
    padding-right: 16px;
  }

  &__cell:nth-child(even) {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 16px;
  }

  tr:first-child td {
    padding-top: 20px;
  }

  tr:last-child td {
    padding-bottom: 20px;
  }

  .table__list {
    padding-left: 23px;
    list-style-type: disc;
  }
}
