.profile-container {
  background-color: var(--color-background-base);
  padding: 44px 132px 199px;
  position: relative;
}

.profile-container__image {
  width: 282px;
  height: 282px;
  position: absolute;
  right: 132px;
  top: 137px;
}

.profile-container_edit-profile {
  padding-bottom: 85px;
}

.profile-container_sign-out {
  min-height: 375px;
}
